body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#uploadImage {
    display: none;
}

label {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

label:hover {
    background-color: #4CAF50;
    color: white;
}

#convertButton {
    display: none;
    margin-top: 24px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#convertButton:hover {
    background-color: #0D8BF2;
}

.select-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label[for="outputFormat"] {
    margin-right: 8px;
    color: #666;
    font-weight: normal;
}

#outputFormat {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    margin-left: 8px;
    background-color: white;
    color: #4CAF50;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#outputFormat:hover {
    background-color: #4CAF50;
    color: white;
}

.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

#downloadLink {
    display: block;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

#downloadLink:hover {
    background-color: #0D8BF2;
}

/* Style pour le champ de texte du nom de l'image */
#imageName {
    display: block;
    margin: 0 auto 8px;
    padding: 12px 24px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    max-width: 100%;
}

/* Style pour le label du champ de texte */
label[for="imageName"] {
    display: block;
    margin-bottom: 8px;
    margin-right: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    max-width: 100%;
}